<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Edit track</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon  name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="trackForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Nombre canción</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Artista</ion-label>
      <ion-input formControlName="artist"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Imagen actual</ion-label>
      <ion-input formControlName="imageUrl"></ion-input>
    </ion-item>

    <ion-button type="submit" expand="block" [disabled]="trackForm.invalid">Guardar cambios</ion-button>
  </form>
</ion-content>
