
#items {
  display: inline-block;
  width: 55vh;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#item {
  margin: 10px;
}

.div-buttons {
  text-align: center;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.image-preview {
  height: 200px;
  text-align: center;
  border: 1px dashed #000;
  border-radius: 15px;
}

.image-preview-placeholder {
  height: 200px;
  text-align: center;
  border: 1px dashed #000;
  border-radius: 15px;
}

.custom-btn {
  --background: #858BFF;
  --color: white;
  --border-radius: 25px;
  text-transform: capitalize;
  margin-top: 15px;
  margin-bottom: 15px;
}
