.custom-title {
  color: #6e49f2;
}

.cards {
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
  margin-bottom: 20px;
}

ion-card {
  width: 150px;
  height: 140px;
  margin: 50px;
  position: relative;
}

ion-card:hover .overlayer {
  visibility: visible;
}

ion-card img {
  width: 100%;
  height: 100%;
}


ion-card .title  {
  width: 100%;
  height: 30px;
  text-align: center;
  justify-content: center;
  margin-top: 180px;
}

ion-card-title{
  font-size: medium;
  color: #000000;
  text-align: center;
  justify-content: center;
}

ion-card-subtitle{
  font-size: small;
  color: #737373;
  text-align: center;
  justify-content: center;
}

ion-card .title a {
  top: -175px;
  color: #000000;
  position: relative;
  font-size: 13px;
  text-decoration: none;
}

ion-fab {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

ion-fab-button {
  font-size: 16px;
}


ion-icon{
  text-align: center;
}

.center-btn{
  margin-right: 15px;
}

.card.selected {
  border: 3px solid #858BFF;
  box-shadow: 4px 4px 10px #858BFF !important;
}

.card {
  height: 100%;
  position: relative;
  border-radius: 5%;
  background-color: #ffffff;
  padding-bottom: 10px;
  margin: 5px;
  margin-bottom: 10px !important;
  box-shadow: 0px 2px 10px #cccccc !important;
  cursor: pointer;
}

img {
  border-radius: 5%;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.page-btn-div {
  color: rgb(255, 255, 255);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #858BFF;
  border-radius: 5px;
}

.page-button {
  background-color: transparent;
  font-size: 20px;
}


ion-searchbar {
  width: 100%;
}


.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.custom-btn {
  --background: #858BFF;
  --color: white;
  --border-radius: 25px;
  text-transform: capitalize;
  margin-top: 15px;
  margin-bottom: 15px;
}

.custom-btn-add {
  --background: #858BFF;
  --color: white;
  --border-radius: 25px;
  text-transform: capitalize;
  margin-top: 15px;
  margin-bottom: 15px;
}

.add-margin-right{
  margin-right: 15px;
}



ion-searchbar.custom {
  --background: #ffffff;
  --icon-color: #858BFF;
  --border-radius: 25px;
}



@media only screen and (max-width: 600px) {
  .search-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .custom-btn {
    margin-top: 10px;
    margin-left: 10px;
  }

}

@media only screen and (min-width: 601px) {
  .search-container {
    flex-direction: row;
    align-items: center;
  }

  .custom-btn {
    margin-right: 15px;
  }

}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ion-spinner {
  transform: scale(3);
}

ion-segment-button{
  text-transform: capitalize;
  color: #858BFF;
  --border-radius: 0px;
}

ion-segment-button.segment-button-checked {
  background-color: #858BFF !important;
  color: white !important;
  --color-checked: var(--ion-color-primary, #858BFF) !important;
  --indicator-box-shadow: none;
  --indicator-color: var(--color-checked);
  --indicator-height: 0px;
}

ion-title{
  font-size: 20px;
  font-weight: bolder;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

@media (max-width: 576px) {
  .floating-button {
    bottom: 10px;
    right: 10px;
  }
}

.custom-floating-btn {
  --background: #858BFF;
  --color: white;
  text-transform: capitalize;
  margin: 15px;
}

.button-space {
  height: 20px;
}

.button-container {
  position: absolute;
  bottom: 0;
  margin-bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}
