<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Add comment</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon  name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="formValidation">
  <form class="form" [formGroup]="formValidation" (ngSubmit)="onSubmit(formValidation.value)">
    <ion-list>
      <ion-item>
        <ion-label>Author</ion-label>
        <ion-input
          type="text"
          [(ngModel)]="newComment.author"
          formControlName="author"
        ></ion-input>
      </ion-item>
      <div>
        <ng-container *ngFor="let validation of formValidationMessages.author">
          <div class="error-message"
            *ngIf="formValidation?.get('author')?.hasError(validation.type) && (formValidation.get('author')?.dirty || formValidation.get('author')?.touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label>Comment</ion-label>
        <ion-textarea
          id="custom-input"
          type="text"
          label="Comment"
          labelPlacement="floating"
          [counter]="true"
          maxlength="1000"
          [(ngModel)]="newComment.comment" formControlName="comment"
        ></ion-textarea>

      </ion-item>
      <div>
        <ng-container *ngFor="let validation of formValidationMessages.comment">
          <div class="error-message"
            *ngIf="formValidation?.get('comment')?.hasError(validation.type) && (formValidation.get('comment')?.dirty || formValidation.get('comment')?.touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label>Select rating</ion-label>
        <ion-select
          [(ngModel)]="newComment.rating"
          formControlName="rating"
        >
          <ion-select-option *ngFor="let i of [0, 1, 2, 3, 4, 5]">{{ i }}</ion-select-option>
        </ion-select>
      </ion-item>
      <div>
        <ng-container *ngFor="let validation of formValidationMessages.rating">
          <div class="error-message"
            *ngIf="formValidation?.get('rating')?.hasError(validation.type) && (formValidation.get('rating')?.dirty || formValidation.get('rating')?.touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </ion-list>
    <div class="ion-text-center">
      <ion-button type="submit" [disabled]="!formValidation.valid">Añadir comentario</ion-button>
    </div>
  </form>
</ion-content>
